.priceContainer {
  display: flex;
  align-items: center;

  p:first-child {
    font-size: 1.5rem;
  }
}

.price {
  font-size: 2rem;
  text-decoration: none;
  margin-inline: 0.5rem;

  &Old {
    color: gray;
    font-size: 1.5rem;
    text-decoration: line-through;
  }

  &Promo {
    font-size: 2rem;
    margin: 0;
  }
}

.promoMessage {
  font-size: ".75rem";
}
